* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#mazeContainer {
  border: solid black;
  width: 95%;
  max-width: 800px;
}

.row {
  width: 100%;
  height: 80px;
  display: flex;
}

.wall {
  width: 100%;
  height: 100%;
  background: rgb(100, 66, 253);
  border: solid black;
}

.floor {
  width: 100%;
  height: 100%;
  background: rgb(246, 252, 192);
  border: solid black;
}
